h1 {
  padding-top: 10px;
  font-family: "Segoe Script";
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  background-color: rgb(178, 209, 198)
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}

.navbar li {
  float: left;
  font-size: 20px;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 550px;
  right: 45px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=message] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=message]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container input[type=text], .form-container input[type=file] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container .btn {
  background: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity:0.8; 
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-buton:hover {
  opacity: 1;
}

#myContactForm {
  display: none;
}

#myPhotoForm {
  display: none;
}