<html>
  <head>


    <title>Home Harmony</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1 class="app-title">Home Harmony</h1>
    <nav class="navbar">
    <!-- <nav class="navbar-divider is-fixed-top">
      <div class="navbar-start">
        <a class="navbar-item" href="index.html">Home</a>
        <a class="navbar-item" href="rooms.html">Rooms</a>
        <a class="navbar-item" href="photos.html">Photos</a>
        <a class="navbar-item" href="contact.html">Contact</a>
      </div> -->
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="rooms.html">Rooms</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li style="float:right"><a href="./login.html">Login</a></li>
      </ul>
    </nav>

    <main>
      <script src="./index.js"></script>
      <br></br>
      <div class="slider">
        <a href="#slide-1">1</a>
        <a href="#slide-2">2</a>
        <a href="#slide-3">3</a>
        <a href="#slide-4">4</a>
        <a href="#slide-5" >5</a>

        <div class="slides">
          <div id="slide-1">
            <img src="./static/images/home-photo1.jpg">
          </div>
          <div id="slide-2">
            <img src="./static/images/home-photo2.jpg">
          </div>
          <div id="slide-3">
            <img src="./static/images/home-photo3.jpg">
          </div>
          <div id="slide-4">
            <img src="./static/images/home-photo4.jpg">
          </div>
          <div id="slide-5">
            <img src="./static/images/home-photo5.jpg">
          </div>
        </div>
      </div>

       <br></br>
       <br></br>

      <h3>Where all of your decoration and design ideas are brought to life!</h3>
    </main>
    {% if not login %}
      <a href="/login" class="button is-primary">Login</a>
      <a href="/signup" class="button is-light">Sign up</a>
    {% else %}
      <p>There are {{ projects|length }} projects</p>
      {% if projects|length > 0 %}

        <div class="list-of-projects">
          <h4>Your Current Projects:</h4>
            <ul>
            {% for project in projects %}
              <li>{{ project.project_title }}</li>
            {% endfor %}
            </ul>
        </div>
      {% endif %}
    {% endif %}
  </body>
</html>