<script type="text/javascript">

</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width="device-width", initial-scale=1.0">
    <title>Home Harmony - Edit Project</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
</head>
<body>
    <h1 class="title">Edit Project</h1>
    <h2 class="subtitle">Project Details</h2>
    <p>Project ID: {{ project.project_id }}</p>
    <form action="/edit_project/{{ project.project_id }}" method="post">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label for="project_title" class="label">Project Title</label>
                    <input class="input" name="project_title" value="{{ project.project_title }}">
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label for="project_desc" class="label">Project Description</label>
                    <textarea class="textarea" name="project_desc">{{ project.project_desc }}</textarea>
                </div>
            </div>
        </div>
        <div class="field">
            <button type="submit" class="button is-success">Save Changes</button>
            <a href="/upload/{{ project.project_id }}" class="button is-primary">Upload Image</a>
            <a href="/projects" class="button is-light" onclick="window.history.back()">Cancel</a>
        </div>
    </form>


    {% for image in images.images %}
        <p>{{ image.image_id }}</p>
        <p>{{ image.image_title }}</p>
        <p>{{ image.image_desc }}</p>
        <div class="card">
            <div class="card-image">
                <figure>
                    <img 
                        src="data:image/{{ image.image_type}};base64,{{ image.image_data }}"
                        alt="Project Image"
                        style="max-width: auto; height: 50%;"
                    />
                </figure>
            </div>
            <footer class="card-footer">
                <a href="/delete_image/{{ image.image_id }}" 
                    class="card-footer-item">Delete Image</a>
            </footer>
        </div>
    {% endfor %}
</body>
</html>