<script type="text/javascript">

</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width="device-width", initial-scale=1.0">
    <title>Home Harmony - Edit Room</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
</head>
<body>
    <h1 class="title">Edit Room</h1>
    <h2 class="subtitle">Room Details</h2>
    <p>Room ID: {{ room.room_id }}</p>
    <form action="/edit_room/{{ room.room_id }}" method="post">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label for="room_name" class="label">Room Name</label>
                    <input class="input" name="room_name" value="{{ room.room_name }}">
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label for="room_desc" class="label">Room Description</label>
                    <textarea class="textarea" name="room_desc">{{ room.room_desc }}</textarea>
                </div>
            </div>
        </div>
        <div class="field">
            <button type="submit" class="button is-success">Save Changes</button>
            <a href="/upload/{{ room.room_id }}" class="button is-primary">Upload Image</a>
            <a href="/rooms" class="button is-light" onclick="window.history.back()">Cancel</a>
        </div>
    </form>


    {% for image in images.images %}
        <p>{{ image.image_id }}</p>
        <p>{{ image.image_title }}</p>
        <p>{{ image.image_desc }}</p>
        <div class="card">
            <div class="card-image">
                <figure id="content">
                    <img 
                        src="data:image/{{ image.image_type}};base64,{{ image.image_data }}"
                        alt="Room Image"
                        style="max-width: auto; height: 50%;"
                    />
                </figure>
            </div>
            <footer class="card-footer">
                <a href="/delete_image/{{ room.room_id }}/{{ image.image_id }}" class="card-footer-item">Delete Image</a>
            </footer>
        </div>
    {% endfor %}
</body>
</html>