<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Harmony</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
</head>
<body>
    <h1 class="title">
        Home Harmony
    </h1>
    <h2 class="subtitle">
        Harmonize your life!
    </h2>
    <hr>
    <aside class="menu">
        <p class="menu-label">Projects</p>
        <ul class="menu-list">
            <li><a class="is-active" href="./projects">Manage Projects</a></li>
            <li><a>New Project</a></li>
        </ul>
        <p class="menu-label">Account</p>
        <ul class="menu-list">
            <li><a>Update password</a></li>
        </ul>
    </aside>
</body>
</html>