<html>
  <head>


    <title>Home Harmony</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <figure>
      <img class="logo" width="150" src="/static/images/HomeHarmonyLogo.jpg"/>
    </figure>
    <br>
    <h1>Home Harmony</h1>
    {% include "./navbar.html" %}
    <main>
      <h3>Design your Room</h3>
      {% if rooms|length > 0 %}
        {% for room in rooms%}
        <div class="card">
          <div class="card-container">
            <h4>Room: {{ room.room_name }}</h4>
            <p>Description: {{ room.room_desc }}</p>

            <a href="/edit_room/{{ room.room_id }}" class="button">Edit</a>
            <a href="/delete_room/{{ room.room_id }}" class="button">Delete</a>
          </div>
          
        {% endfor %}
      {% endif %}
      <br></br>
       <form action="/add_room" method="get">
        <button class="open-button" type="submit">Design a Room</button>
      </form>
<!--      <button class="open-button" onClick="roomForm()">Design a Room</button>

      <div class="room-form"  id="myRoomForm">
        <form action="/action_page.php" class="form-container" method="post">
          <h2>Design a Room</h2>
          <label for="room"><b>Room Name</b></label>
          <input type="text" placeholder="Name the room" name="room" required>
          
          <label for="Design plan"><b>Room Theme:</b></label>
          <input type="text" placeholder="Enter your idea" name="design-plan" required>
          
          <label for="Number of walls">Number of Walls to Decorate:</label>
          <select type="drop-down" name="drop-down">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="Other">Other</option>
          </select>

          <label for="Furniture">Furniture to Add:</label>
          <select type="drop-down" name="drop-down">
            <option value="placeholder">...</option>
            <option value="couch">Couch</option>
            <option value="desk">Desk</option>
            <option value="chair">Chair</option>
            <option value="bed">Bed</option>
            <option value="nightstand">Nightstand</option>
            <option value="table">Table</option>
          </select>
          <label for="Number of Furniture Pieces">Quantity:</label>
          <select type="drop-down" name="drop-down">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="Other">Other</option>
          </select>
          <br></br>


          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn cancel" onClick="closeForm()">Cancel</button>
        </form> -->
      </div>
    </main>
    <script src="/static/rooms.js"></script>
  </body>
</html>