<script type="text/javascript">
    function previewFile() {
        const preview = document.querySelector('img');
        var file = document.getElementById('fileInput').files[0];
        const reader = new FileReader();
        reader.addEventListener("load", function() {
            preview.src = reader.result; // show image in <img> tag
        }, false);
        if (file) {
            reader.readAsDataURL(file);
        }
    }

    function uploadFile(file) {
        const access_token = '{{ access_token }}'; // replace with your access token
        const room_id = '{{ room_id }}';
        var file = document.getElementById('fileInput').files[0];
        var image_name = document.getElementById('image_name').value;
        var image_desc = document.getElementById('imageDescription').value;
        if (file) {
            var formData = new FormData();
            formData.append('file', file);
            formData.append('image_name', image_name);
            formData.append('image_desc', image_desc);
            formData.append('room_id', room_id);
            formData.append('access_token', access_token);
            fetch('/upload_image/{{ room_id }}', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("serverMsg").innerHTML = data.message;
                })
                .catch(error => {
                    console.error(error);
                });
        }
    }
</script>
<link
  rel="stylesheet"
  href="/style.css"
>
<h1 class="title">Add Image</h1>
<div class="login-form">
    <div class="login-field">
        <form class="add-form">
            <label class="label">Image Title:</label>
            <input style="width: 100%;" class="input" type="text" id="image_name" name="image_name" placeholder="Enter image name ...">
            <br></br>
            <label class="label">Image Description:</label>
            <textarea style="width: 100%;" class="textarea" id="imageDescription" name="image_desc" rows="3" cols="50" placeholder="Enter image description ..."></textarea>
            <br></br>
            <input class="button" type="file" id="fileInput" onchange="previewFile()">
            <br></br>
            <br></br>
            <input class="button is-success" type="button" value="Upload Image" onclick="uploadFile()">
            <button class="button"><a style="text-decoration: none;" class="button is-danger" href="/room_images/{{ room_id }}">Return</a></button>
            <input class="button is-light" type="button" value="Cancel" onclick="window.history.back()"> 
        </form>
    </div>
</div>
<p id="serverMsg"></p>
<img height="200">